html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #000000;
}


nav{
    height: 100px;
    width: 90%;
}
header{
    font-size: 14px;

}
.active {
    color: #e1e1e1;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
.active:focus,
    .active:hover {
    color: #fff;
}

.active:focus:after,
.active:hover:after {
    width: 100%;
    left: 0%;
}

.active:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ff2c1f;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

#mobile-content{
    display: none; 
    height: 100vh;
    width: 100%;
    background-color: #000000b2;
}

.mobile-active{
    font-weight: bolder;
    color: white;
}
.mobile-links{
    color: #e9e9e9;
}
.mobile-content-toggle{
    bottom:30px;
}

.gradient-overlay {
    position: absolute;
    top: 650px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #1f1f1f00, #00000057, #000000);
    z-index: 1;
}

.home-gradient-overlay-bottom {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #1f1f1f00, #0000009f, #000000);
    z-index: 0;
}
.home-gradient-overlay-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 500px;
    background: linear-gradient(to top, #1f1f1f00, #00000057, #000000);
    z-index: 0;
}


#mobile-content .mobile-content-toggle {
    position: relative;
    z-index: 2;
}
.change-element{
    display: none;
}

.play {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff;
    transition: 0.5s ease;
    user-select: none;
    text-decoration: none;
}
  
.play:hover {
    color: #ffffff;
    background: #ff2c1f;
    border: 1px solid #ff2c1f;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #ff2c1f,
                0 0 20px #ff2c1f,
                0 0 50px #ff2c1f,
                0 0 100px #ff2c1f;
}

.x{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff;
    transition: 0.5s ease;
    user-select: none;
    text-decoration: none;

}

  .dot {
    cursor: pointer;
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    font-size: 14px;
    }

    .dot:hover {
        transform: scale(1.5);
        transition:  .3s;
    }
    
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: 0.6s ease;
    padding: 0 5px 0 5px;
  }
  

/* Now Showing Section */
.now-showing-section{
    width: 100%;
    
}
.now-showing{
    width: 90%;

}

.movie-individual:hover{
    transition: .2s;
}

.movie-scroll-container {
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
}

.movie-scroll-container::-webkit-scrollbar {
  width: 6px;
  background-color: #000000;
}

.movie-scroll-container::-webkit-scrollbar-track {
  background-color: #000000;
}

.movie-scroll-container::-webkit-scrollbar-thumb {
  background-color: #666666;
}

  .movie-hover-bg{
    background-color: #00000081; 
    height: 100%; 
    width: 100%; 
    position: absolute; 
    display: none;
  }
  .movie-hover-button{
    background-color: #ff2c1f; 
    top: 60%; 
    display: none;
    position: absolute;
  }
  .movie-hover-rating{
    font-size: 14px;
    position: absolute; 
    top: 50%;
    display: none;
  }
.movie-hover-bg:hover{
    display: block;
}

.footer{
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
}